{% extends 'base.html' %}

{% load static %}

{% load social_share %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}" />
{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <div class="row blog">
        {% for post in posts %}


        <div class="col-md-3 mb-5">
            <div class="card">
                <div class="card-body">
                    <img src="{{post.image.url}}" width="305px">

                    <div class="content">
                        <h3><a href="{% url 'blogDetail' post.slug %}">{{post.title}}</a></h3>

                        <h6>{{post.title}}</h6>
                        <p class="date"> {{post.date_added}}</p>
                    </div>

                    <ul class="blogicons">
                        <li>
                            {% post_to_whatsapp object_or_url '<i class="fab fa-whatsapp"></i>' %}
                        </li>

                        <li>
                            {% post_to_facebook object_or_url '<i class="fab fa-facebook-f"></i>' %}
                        </li>
                        <li>
                            {% post_to_twitter object_or_url %}
                        </li>

                        <li>
                            {% post_to_linkedin object_or_url %}
                        </li>




                    </ul>
                </div>
            </div>

        </div>

        {%endfor%}


    </div>
</div>

<!-- {{posts}}<br>
Has Previous : {{posts.has_previous}}<br>
Has Next : {{posts.has_next}}<br>
Current Page : {{posts.number}} <br>
No of Pages : {{posts.paginator.num_pages}}<br><br> -->



<div class="text-center">
    {% if posts.has_previous %}
    <!-- <a href="?page=1">First</a> -->
    <a href="?page={{posts.previous_page_number}}"><i class="fa fa-angle-double-left"></i></a>
    {% endif %}


    Page {{posts.number}} of {{posts.paginator.num_pages}}

    {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}"><i class="fa fa-angle-double-right"></i></a>
    <!-- <a href="?page={{posts.paginator.num_pages}}">Last</a> -->
    {% endif %}
</div>

{% endblock content %}