{% extends 'base.html' %}

{% load static %}

{% load social_share %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}"/>
{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <div class="row blog">
        {% for post in posts %}


        <div class="col-md-3 mb-5">
            <div class="card">
                <div class="card-body">
                    <img src="{{post.image.url}}" width="305px">

                    <div class="content">
                        <h3><a href="{% url 'blogDetail' post.slug %}">{{post.title}}</a></h3>

                         <h6>{{post.title}}</h6>
                            <p class="date"> {{post.date_added}}</p>
                    </div>

                    <ul class="blogicons">
                        <li>
                            {% post_to_whatsapp object_or_url  '<i class="fab fa-whatsapp"></i>' %}
                        </li>
                    
                        <li>
                            {% post_to_facebook object_or_url  '<i class="fab fa-facebook-f"></i>' %}
                        </li>
                        <li>
                            {% post_to_twitter object_or_url  %}
                        </li>
                        
                        <li>
                            {% post_to_linkedin object_or_url  %}
                        </li>

                        
                        
                       
                    </ul>
                </div>
            </div>

        </div>

        {%endfor%}


    </div>
</div>


{% endblock content %}