{% extends 'base.html' %}

{% load static %}

{% load social_share %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}" />
{% endblock %}
{% block content %}
<div class="container  mt-5">
    <div class="row">
        <div class="col-md-1"></div>


        <div class="col-md-7 mb-5">


            <div class="card p-3">
                <div class="card-body text-center">





                    <img src="{{post.image.url}}" width="305px">
                    <div class="content">
                        <h1>{{post.title}}</h1>
                        <p>Posted at {{post.date_added}}</p>
                        <p class="mb-3">{{post.body}}</p>



                    </div>

                    <hr />


                    <ul>
                        <li>
                            {% post_to_whatsapp object_or_url '<i class="fab fa-whatsapp"></i>' %}
                        </li>

                        <li>
                            {% post_to_facebook object_or_url '<i class="fab fa-facebook-f"></i>' %}
                        </li>
                        <li>
                            {% post_to_telegram "" object_or_url '<i class="fab fa-telegram-plane"></i>' %}

                        </li>

                        <li>
                            {% post_to_linkedin object_or_url %}


                        </li>

                    </ul>
                    <hr />
                    <p>For More Information, visit us @ <a
                            href="https://www.sudhatri.in/"><b>&nbsp;www.sudhatri.in</b></a></p>






                </div>
            </div>



        </div>

        <div class="col-md-1"></div>




        <div class="col-md-3">


            <div class="card p-3">
                <div class="card-body">
                    {% for post in posts %}

                    <div class="blog_detail">
                        <p><a href="{% url 'blogDetail' post.slug %}">{{post.title}}</a></p>
                    </div>

                    {%endfor%}






                </div>


                <div class="text-center">
                    {% if posts.has_previous %}
                    <!-- <a href="?page=1">First</a> -->
                    <a href="?page={{posts.previous_page_number}}"><i class="fa fa-angle-double-left"></i></a>
                    {% endif %}


                    Page {{posts.number}} of {{posts.paginator.num_pages}}

                    {% if posts.has_next %}
                    <a href="?page={{posts.next_page_number}}"><i class="fa fa-angle-double-right"></i></a>
                    <!-- <a href="?page={{posts.paginator.num_pages}}">Last</a> -->
                    {% endif %}
                </div>
            </div>




        </div>

    </div>
</div>

{% post_to_twitter object_or_url "Post to Twitter" %}


{% endblock content %}